.btn {
    color: var(--add-color);
    width: 120px;
    height: 45px;
    border-radius: 12px;
    border: 1px solid var(--add-color, #4EFBAD);
    background: transparent;
    cursor: pointer;
}

.btn_big {
    color: #141522;
    font-size: 16px;
    font-weight: 700;
    width: 274px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    background: var(--add-color, #4EFBAD);
}